<header class="header">
    <div class="container">
        <h1 class="sub-heading">Hi, it's me</h1>
        <h1 class="heading">
            <span class="slim-heading">User </span> <span class="strong-heading">{{model.username}}</span>
        </h1>
        <p class="text">Manage Users</p>
        <!---->
    </div>
</header>
