.header {
    padding: 60px 0;
    background: #81b33a;
    color: #fff;


  .sub-heading {
    color: rgba(255,255,255,.8);
    font-weight: 200;
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .heading{
    font-weight: 700;
    margin-top: 0;
    font-size: 63px;
  }

  .slim-heading{
    font-weight: 100;
  }

}
