/***************
 * Styles specific for the ember-paper demo site
 ***************/

html {
  font-size: 62.5%;
  line-height: 1.4;
}

body {
  font-size: 1.6rem;
}

table {
  margin-bottom: 8px;
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
  border-radius: 2px;
  overflow: hidden;
}

.table-wrapper {
  flex: 1;
  overflow: auto;
}


 md-select-menu md-content md-option:not([disabled]):focus, md-select-menu.md-default-theme md-content md-option:not([disabled]):hover, md-select-menu md-content md-option:not([disabled]):hover {
    background: rgb(238,238,238);
}

.header {
  background-color: #106CC8;
  color: white;
  text-align: center;
  font-weight: bold;
}

.flex-start {
  align-self: flex-start;
}

/***************
 * TYPE DEFAULTS
 ***************/
a {
  color: #106CC8;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 1px solid rgba(64, 84, 178, 0.25);
  -webkit-transition: border-bottom 0.35s;
  -moz-transition: border-bottom 0.35s;
  -ms-transition: border-bottom 0.35s;
  -o-transition: border-bottom 0.35s;
  transition: border-bottom 0.35s;
}

a:hover, a:focus {
  border-bottom: 1px solid #4054B2;
}

a.md-button {
  border-bottom: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h1 {
  font-size: 3.400rem;
  font-weight: 400;
  line-height: 4rem;
}

h2 {
  font-size: 2.400rem;
  font-weight: 400;
  line-height: 3.2rem;
}

h3 {
  font-size: 2.000rem;
  font-weight: 500;
  letter-spacing: 0.005em;
}

h4 {
  font-size: 1.600rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 2.4rem;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 1.6em;
  margin: 0.8em 0 1.6em;
}

strong {
  font-weight: 500;
}

td, th {
  padding: 12px 16px;
  text-align: left;
}

td {
  vertical-align: top;
}

td.description *:first-child {
  margin-top: 0;
}

td.description *:last-child {
  margin-bottom: 0;
}

tr:nth-child(odd) td {
  background-color: lighten(color($primary, '50'), 2);
}

tr:nth-child(even) td {
  background-color: lighten(color($primary, '50'), 4);
}

th {
  background-color: color($primary, '400');
  color: white;
}

tr.subheading td {
  background-color: color($primary, '100');
}

blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.12);
  font-style: italic;
  margin-left: 0;
  padding-left: 16px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin-left: 16px;
  padding: 0;
  margin-top: 3px;
  list-style-position: inside;
}

ul li:first-child {
  margin-top: 0;
}

.preview-block {
  background: #f5f5f5;
  padding: 20px;
}

md-toolbar.md-default-theme.page-main-toolbar {
  background-color: color('grey', '100');
  color: $dark-contrast-color;

  md-icon, .md-button:not(.md-raised), .md-button md-icon {
    color: $dark-contrast-color;
    margin-top: -2px;
  }
}


.demo-header-searchbox {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0;
}
.demo-select-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
}

/************
 * DOCS MENU
 ************/

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

*::-webkit-scrollbar-thumb {
  background: color($color-grey, '500');
}

.site-sidenav,
.site-sidenav.md-locked-open-add-active,
.site-sidenav.md-locked-open {
  width:     272px;
  min-width: 272px;
  max-width: 272px;
}
.site-sidenav > * {
  min-width: 218px;
}
md-sidenav.site-sidenav {
  background: color($primary, '400');

  md-toolbar.md-default-theme {
    background: linear-gradient(to bottom, color($primary, '600'), color($primary, '400'));;
    border-bottom: 1px solid rgba(#fff, .1);
    color: #fff;

    height: 180px;
    min-height: 180px;
    max-height: 180px;

    .logo {
      font-size: 54px;
      font-weight: 500;
      width: 100%;
      height: 100%;

      img {
        width: 150px;
      }

      div {
        font-weight: bold;
      }
    }
  }

  md-content {
    background: transparent;
    color: $light-contrast-color;
    md-icon {
      color: inherit;
    }
  }

  .menu-item {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;

    .expand-icon {
      position: relative;
      right: -36px;
      transition: transform 250ms linear;
    }

    &.expanded .expand-icon {
      transform: rotate(-180deg);
    }
  }

  .submenu-item {
    .md-list-item-inner {
      padding-left: 36px;
    }
  }

  .menu-item, .submenu-item {
    min-height: 40px;

    &.active, &:hover {
      background-color: rgba(#fff, .1);
    }

    .md-list-item-inner {
      min-height: 40px;

      md-icon {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.doc-content {
  margin: 16px auto;
  max-width: 1280px;
}
