{{#paper-sidenav-container class="site-nav-container"}}
  {{#paper-sidenav class="md-whiteframe-z2 site-sidenav" lockedOpen="gt-sm"
    open=isSidenavOpen onToggle=(action (mut isSidenavOpen))}}
    {{#paper-toolbar class="site-content-toolbar" tall=true}}
      <div class="logo layout-column layout-align-center-center">
        {{#link-to 'index'}}
           <img src="ember-logo-white.png">
        {{/link-to}}
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}

      {{#if session.isAuthenticated}}
      {{#paper-list}}
        {{#menu-item active=(is-active "users" currentRouteName) onClick=(transition-to "users")}}Users{{/menu-item}}
        {{#menu-item active=(is-active "index" currentRouteName) onClick=(action 'invalidateSession')}}Logout{{/menu-item}}
      {{/paper-list}}
    {{else}}
        {{#paper-list}}
          {{#menu-item active=false onClick=(transition-to "login")}}Login{{/menu-item}}
        {{/paper-list}}
    {{/if}}


    {{/paper-content}}
  {{/paper-sidenav}}

  <div class="flex layout-column" tabindex="-1" role="main">
    {{outlet}}
  </div>
{{/paper-sidenav-container}}