<header class="header">
    <div class="container">
        <h1 class="sub-heading">Homework</h1>
        <h1 class="heading">
            <span class="slim-heading">Home</span><span class="strong-heading">Work</span>
        </h1>
        <p class="text">Some cool stuff coming soon...</p>
        <!---->
    </div>
</header>


<div class="container content">

    <p>
      <pre>test 123</pre>
    </p>
</div>