<header class="tph-Header">
  <div class="container">
    <h1 class="tph-Header__subheading">Ember</h1>
    <h1 class="tph-Header__heading">
      <span class="tph-Header__slim-heading">TED</span><span class="tph-Header__strong-heading">Navs</span>
    </h1>
    <p class="tph-Header__text">Navigational components for your Ember app</p>
    <!---->
  </div>
</header>


<div class="container">

<p>
    <pre>test 123</pre>
</p>
    </div>