<header class="header">
    <div class="container">
        <h1 class="sub-heading">Gogo</h1>
        <h1 class="heading">
            <span class="slim-heading">User</span><span class="strong-heading">Management</span>
        </h1>
        <p class="text">Manage Users</p>
        <!---->
    </div>
</header>

<div class="container content">
    <div class="row">
        {{#each model as |user|}}
          <div class="col-md-3">
            {{user-widget model=user}}
          </div>
        {{/each}}
    </div>
</div>
