
<div class="widget-header bg-primary"></div>
<div class="widget-body text-center">
  <img alt="Profile Picture" class="widget-img img-circle img-border-light" src="http://bootdey.com/img/Content/avatar/avatar1.png">
  <h4 class="mar-no">{{model.username}}</h4>
  <p class="text-muted mar-btm">Administrator</p>

  <div class="pad-ver">
    <button class="btn btn-primary">Follow</button>
    <button class="btn btn-success">Message</button>
  </div>
</div>
