.user-widget {
  &.panel {
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 24px;
  }

  .widget-header {
    padding: 15px 15px 50px 15px;
    min-height: 125px;
    position: relative;
    overflow: hidden;
  }
  .widget-body {
    padding: 50px 15px 15px;
    position: relative;
  }
  .panel-body {
    padding: 25px 20px;
  }
  .pad-all {
    padding: 15px;
  }
  .widget-img {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    margin-left: -32px;
    top: -32px;
  }
  .img-md {
    width: 64px;
    height: 64px;
  }
  .widget-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
  }
}
